@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("./fonts/livvic-v13-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/livvic-v13-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/livvic-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/livvic-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1165px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: rgba(1, 78, 86, 1);
  font-family: "Livvic";
}
.texts {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-ul {
  display: flex;
  align-items: center;
}
.nav-display {
  display: flex;
  align-items: center;
}
.texts-3-wrap {
  display: flex;
  align-items: center;
}
.nav-li {
  padding-left: 40px;
}
.logo-1 {
}
li {
  list-style: none;
}
.find {
  display: inline-block;
  width: 48%;
}
.texts-display {
  display: flex;
  align-items: center;
}
.texts-3 {
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}
span {
  color: rgba(246, 126, 126, 1);
}
.texts-4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.content-2 {
  background-color: rgba(1, 47, 52, 1);
}
.line-2 {
  color: rgba(246, 126, 126, 1);
  font-size: 80px;
}
.content-title-text {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: white;
}
.ul-texts-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
}
.content-title-text-wrap {
  display: flex;
  justify-content: space-between;
}
.wrap-2 {
  display: inline-block;
}
.content-3-texts {
  text-align: center;
}
.success {
  color: rgba(0, 64, 71, 1);
}
.cards {
  width: 350px;
}
.cards-display {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.card-text-1 {
  text-align: center;
}
.card-text-2 {
  color: rgba(121, 200, 199, 1);
}
.card-info {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
}
.banner {
  background-color: #f67e7e;
}
.banner-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text-color {
  color: #012f34;
  text-align: right;
}
.banner-btn {
  color: #012f34;
  background-color: transparent;
  border-color: #012f34;
}
footer {
  background-color: #002529;
}
.footer-links {
  padding-left: 10px;
}
.footer-links2 {
  opacity: 0.6;
  margin-top: 20px;
}
.footer-logos {
  text-align: right;
  margin-top: 50px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-1:hover {
  opacity: 0.8;
}
.logo-1:active {
  opacity: 0.5;
}
.texts:hover {
  color: #f67e7e;
}
.banner-btn:hover {
  background-color: #002529;
  color: #ffffff;
  border-color: transparent;
}
.about {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  background-color: transparent;
  border-radius: 24px;
  border: 2px solid white;
  text-decoration: none;
}
